<!DOCTYPE html>
<html lang="en">

<head>
    <title>My website</title>
    <link href="/public/assets/stil.css" rel="stylesheet" type="text/css" />

    <script src="index.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <h3 style="text-align: center">Adauga un nou obiect</h3>

    <div id="contact">

        <form id="newobj" method="post">
            <label>
                Nume: <input type="text" name="nume">
            </label>

            <label>
                Ziua: <input type="number" name="zi">
            </label>

            <label>
                Luna: <input type="text" name="luna">
            </label>

            <label>
                Anul: <input type="number" name="an">
            </label>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>

</html>