<div id="AfMesaje">

    <label>Mesaje de la fani:</label>

    <div id="afisM"> </div>

</div>

<div id="butoaneContact" style="text-align: center">

    <button onclick="afisare()">Afiseaza mesajele</button>

    <button onclick="stergere()">Sterge mesajele</button>

</div>

<h3 style="text-align: center">Contact</h3>

<div id="contact">

    <label>Nume</label>
    <input id="nume" placeholder="Introduceti numele" style="height:45px">

    <label>Email</label>
    <input id="email" placeholder="Introduceti emailul" style="height:45px">

    <label>Numar telefon</label>
    <input id="nrtel" placeholder="Introduceti numarul de telefon" style="height:45px">


    <label>Mesaj</label>
    <textarea id="mesaj" name="mesaj" placeholder="Introduceti mesajul" style="height:100px"></textarea>

    <button onclick="check()">Submit</button>

    <br>

    <label>Rezultat</label>
    <textarea id="output"></textarea>

</div>